.icon-facebook {
	width: 32px;
	height: 32px;
    background-image: url('./facebook.png');
}

.icon-twitter {
	width: 36px;
	height: 36px;
    background-image: url("./twitter.png");
}

.icon-square {
	width: 64px;
	height: 64px;
    background-image: url(./square.png);
}