.icon-facebook {
	width: 32px;
	height: 32px;
    background-image: url('/tmp/algorithm_diagonal.png');
    background-position: -0px -0px;
}

.icon-twitter {
	width: 36px;
	height: 36px;
    background-image: url('/tmp/algorithm_diagonal.png');
    background-position: -34px -34px;
}

.icon-square {
	width: 64px;
	height: 64px;
    background-image: url('/tmp/algorithm_diagonal.png');
    background-position: -72px -72px;
}